.outerContainer {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  position: absolute;
  inset: 0px;
  z-index: -50;
  overflow: hidden;
}

.innerContainer {
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
}
