.outerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.innerContainer {
    padding: 1rem;
    padding-bottom: 0.75rem;
    display: block;
    width: 55vh;
    border-radius: 1.5rem;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    backdrop-filter: blur(40px);
    background-color: rgb(255 255 255 / 0.05);
    letter-spacing: 0.025em;
    border-width: 1px;
    border-color: rgb(74 222 128 / 0.1);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.imageContainer {
    position: relative;
    height: 12rem;
    width: 12rem;
    margin-right: 1rem;
    border-radius: 9999px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
}

.image {
    border-radius: 0.375rem;
    opacity: 0.9;
}

.dataContainer {
    display: grid;
    float: left;
}

.dataText {
    color: rgb(156 163 175);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    text-align: left;
}

.dataTextLarge {
    color: rgb(229 231 235);
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: left;
}

.trackContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tracksOuterContainer {
    color: rgb(0 0 0 / 0.8);
    margin-top: 0.25rem;
    margin-bottom: 0;
}

.truncatedText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(229 231 235);
    font-size: 1rem;
    line-height: 1.5rem;
}

.truncatedTextLarge {
    color: rgb(156 163 175);
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1rem;
}

.buttonClass {
    float: right;
    margin-left: 9rem;
    border-radius: 0.5rem;
    filter: brightness(1.1);
}

.buttonClassActive {
    opacity: 0.7;
    cursor: not-allowed;
}