.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  position: relative;
  width: 40vw;
  height: 30vh;
}

.innerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 30vh;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.playlistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.playlistImageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.playlistInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.playlistTracksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.playlistSortButton {
  align-self: flex-end;
  justify-self: flex-end;
  margin: 10px;
}

.backgroundContainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.backgroundContainerInner {
  border-radius: 9999px;
  position: relative;
  inset: 0;
  z-index: -1;
}
